<div>
  <div class="feature-row">
    <div class="all-access-feature-icon">
      <img src="../../../store-app/app/bb/store/subscription/images/instructional-videos.svg" alt="" />
    </div>
    <div class="all-access-feature typography-subtitle1">Instructional Videos</div>
    <div class="all-access-feature-icon">
      <img src="../../../store-app/app/bb/store/subscription/images/meal-plans.svg" alt="" />
    </div>
    <div class="all-access-feature typography-subtitle1">Meal Plans</div>
  </div>

  <div class="feature-row">
    <div class="all-access-feature-icon">
      <img src="../../../store-app/app/bb/store/subscription/images/training-calendars.svg" alt="" />
    </div>
    <div class="all-access-feature typography-subtitle1">Training Calendars</div>
    <div class="all-access-feature-icon">
      <img src="../../../store-app/app/bb/store/subscription/images/mobile-apps.svg" alt="" />
    </div>
    <div class="all-access-feature typography-subtitle1">Mobile Apps</div>
  </div>

  <div class="feature-row">
    <div class="all-access-feature-icon">
      <img src="../../../store-app/app/bb/store/subscription/images/supplement-guides.svg" alt="" />
    </div>
    <div class="all-access-feature typography-subtitle1">Supplement Guides</div>
    <div class="all-access-feature-icon">
      <img src="../../../store-app/app/bb/store/subscription/images/community-support.svg" alt="" />
    </div>
    <div class="all-access-feature typography-subtitle1">Community Support</div>
  </div>
</div>