<div class="purchase-subscription">
  <div class="all-access-features">
    <div class="typography-headline4">Enjoy access to over 50 expert-created fitness plans</div>
    {{> features }}
  </div>
  <div class="purchase-subscription-box">
    <div class="typography-custom28">Start your
      <span class="free-trial-highlight">FREE</span> 7-day trial</div>
    <div class="typography-headline5 subscription-type">1. Select your subscription type</div>

    <p class="typography-body2">You will not be charged until after the 7-day trial</p>

    {{> subscription-type }}

    <div class="typography-custom11">After expiration of your free trial period, you will automatically be charged the subscription fee plus applicable taxes
      based on your choice above. You can cancel at any time from your Account Subscription. By clicking "Start Your Free
      Trial", you agree to our
      <a href="https://www.bodybuilding.com/fun/all-access-terms-conditions.html">All Access Terms and Conditions</a>, and authorize this recurring charge.</div>


    <div class="typography-headline5">2. Log in or create an account</div>

    {{> login }}

    <div style="display:flex; flex-direction:row; justify-content: space-between">
      <a href="https://www.bodybuilding.com/profile/forgot-password">Forgot your password?</a>
      <div>
        New?
        <a href="https://www.bodybuilding.com/profile/signup?referrer=https%3a%2f%2fwww.bodybuilding.com%2fstore%2fsub%2fall-access.html">Create an Account</a>
      </div>
    </div>

    <button class="bb-flat-btn bb-flat-btn--stretch bb-flat-btn--size-md">Login In</button>
  </div>
</div>