<label class="bb-label" style="display:block">
  <input type="radio" name="replaceme" value="male" ng-model="user.gender" checked="" class="bb-radio" id="replaceme">
  <span class="typography-subtitle1">Monthly:
    <span class="typography-headline6">$8.99</span>
  </span>
</label>
<label class="bb-label" style="display: table-row">
  <div style="display: table-cell;vertical-align:middle">
    <input type="radio" name="replaceme" value="male" ng-model="user.gender" checked="" class="bb-radio" id="replaceme">
  </div>
  <div>
    <span class="typography-subtitle1">Annually:
      <span class="typography-headline6">$89.99</span>
    </span>
    <br/>
    <span class="theme-secondary typography-caption">Receive 2 months FREE</span>
  </div>
</label>