<div class="subscription__container" itemscope itemtype="http://schema.org/Product">

  <form id="prod_soft_0000001" name="prod_soft_0000001" action="/store/sub/all-access.html?_DARGS=/store/catalog/product/include/purchase-subscription.jsp"
    method="post">
    <div style="display:none">
      <input name="_dyncharset" value="UTF-8" type="hidden" /> </div>
    <div style="display:none">
      <input name="_dynSessConf" value="4464620651087938600" type="hidden" /> </div>
    <fieldset class="subscription__fieldset">
      <legend class="subscription__title">Two great ways to subscribe!</legend>
      <input name="/atg/commerce/order/ShoppingCartModifier.addSoftGoodToOrderErrorURL" value="/store/sub/all-access.html" type="hidden"
      />
      <input name="_D:/atg/commerce/order/ShoppingCartModifier.addSoftGoodToOrderErrorURL" value=" " type="hidden" />
      <input name="/atg/commerce/order/ShoppingCartModifier.productId" value="prod_soft_0000001" type="hidden" />
      <input name="_D:/atg/commerce/order/ShoppingCartModifier.productId" value=" " type="hidden" />
      <input name="/atg/commerce/order/ShoppingCartModifier.quantity" value="1" type="hidden" />
      <input name="_D:/atg/commerce/order/ShoppingCartModifier.quantity" value=" " type="hidden" />
      <input name="/atg/commerce/order/ShoppingCartModifier.addSoftGoodToOrderErrorURL" value="/store/sub/all-access.html" type="hidden"
      />
      <input name="_D:/atg/commerce/order/ShoppingCartModifier.addSoftGoodToOrderErrorURL" value=" " type="hidden" />
      <input name="/atg/commerce/order/ShoppingCartModifier.addSoftGoodToOrderSuccessURL" value="/store/commerce/subscription-billing.jsp"
        type="hidden" />
      <input name="_D:/atg/commerce/order/ShoppingCartModifier.addSoftGoodToOrderSuccessURL" value=" " type="hidden" />
      <div class="subscription__list bb-clearfix">
        <label class="subscription__option">
          <div class="subscription__option--top ">
            <div class="subscription__price">$8.99</div>
            <div class="subscription__duration">/ month</div>
          </div>
        </label>
        <label class="subscription__option">
          <div class="subscription__option--top  subscription--has-violator ">
            <div class="subscription__violator">
              Receive 2 months FREE</div>
            <div class="subscription__price">$89.99</div>
            <div class="subscription__duration">/ year</div>
          </div>
        </label>
      </div>


    </fieldset>
    <div style="display:none">
      <input name="_DARGS" value="/store/catalog/product/include/purchase-subscription.jsp" type="hidden" /> </div>
  </form>
  <div class="subscription-login">
    <bb-login class="bb-login--subscription" redirect-url="https://www.bodybuilding.com/store/sub/all-access.html" hide-facebook="true"
      hide-signin="true">
    </bb-login>
  </div>
  <div class="subscription-action subscription-action--separator">
    <a class="bb-flat-btn bb-flat-btn--stretch bb-flat-btn--size-md subscription-action__button" href="https://www.bodybuilding.com/profile/signup?referrer=https%3a%2f%2fwww.bodybuilding.com%2fstore%2fsub%2fall-access.html">
      Create Account</a>
  </div>
</div>

<div class="subscription__terms">
  <a href="https://www.bodybuilding.com/fun/all-access-terms-conditions.html" target="_blank">Terms and Conditions</a>
</div>